@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
body {
  background-color: #08090a;
}
.container {
  padding-top: 40px;
  height: auto;
  width: auto;
  /* border: 3px solid #000;
  background-color: green; */
}
.card {
  padding-top: 40px;
  margin: auto;
  border-radius: 30px;
  background-color: #08090a;
  height: fit-content;
  width: 320px;

  padding-bottom: 30px;
}
#linkz a {
  text-decoration: none;
  color: cyan;
  padding: 10px;
}
#linkz img {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 0px;
}
.sm {
  display: flex;
  justify-content: center;
}

.card img {
  display: block;
  border: 2px solid cyan;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 250px;
  width: auto;
}
.card::after {
  width: inherit;
  height: 10px;
  background-color: cyan;
}
.card h1,
h2 {
  padding: 0px;
  text-align: center;
  color: aqua;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 600px) {
  .card:hover {
    /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.6); */
    box-shadow: 1px 1px 2rem cyan;
    border: 1.5px solid cyan;
  }
}
